{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Feed creation</h1>
        {{ form_start(form) }}
       
        {{ form_widget(form) }}
        <input type="submit" class='mt-4 btn btn-outline-success' value="Create"/>
        {{ form_end(form) }}
        <a style="color: black" href="{{ path('feed_index') }}">
            <button class='mt-1 btn btn-outline-secondary'>
                Back to the list
            </button>
        </a>
    </div>
{% endblock %}
